.footer__column-link {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: linear;
}

.footer__column-link:hover {
  opacity: 0.3;
}
