.feynman__link {
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  right: 48px;
  text-decoration: none;
  top: 50%;
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: linear;
  z-index: 3;
}

.feynman__link:hover {
  opacity: 0.3;
}
