.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: linear;
}

.header__link:hover {
  opacity: 0.3;
}
